.navegacion{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 30px;

}

.nav-item{
    margin: 0 10px;
}




/*<button class="btn btn-danger btn-sm">
<img src="img/delete.png" alt="Eliminar" width="16" height="16">
</button>
<button class="btn btn-info btn-sm">
<img src="img/edit.png" alt="Editar" width="16" height="16">
</button>*/